/* Estilo base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7; /* Cinza Claro */
    color: #333333; /* Cinza Escuro */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff; /* Branco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Título */
h1 {
    text-align: center;
    color: #0a74da; /* Azul Escuro */
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Resumo do Site */
.site-summary {
    text-align: center;
    margin-bottom: 20px;
}

.site-summary p {
    font-size: 1.2em;
    color: #555555;
}

/* Mais Informações */
.more-details {
    text-align: center;
    margin-bottom: 20px;
}

.more-details p {
    font-size: 0.8em;
    color: #555555;
}

/* Botões de Exemplo */
.example-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.example-buttons button {
    background-color: #0a74da; /* Azul Escuro */
    color: #ffffff; /* Branco */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.example-buttons button:hover {
    background-color: #003f5c; /* Azul Escuríssimo */
}

/* Formulário de Submissão */
.submission-form {
    text-align: center;
}

.submission-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
}

.submission-form input[type="submit"] {
    background-color: #0a74da; /* Azul Escuro */
    color: #ffffff; /* Branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.submission-form input[type="submit"]:hover {
    background-color: #003f5c; /* Azul Escuríssimo */
}

/* Resposta */
.response {
    margin-top: 20px;
    padding: 10px;
    background: #f0f8ff; /* Azul Claro */
    border-left: 5px solid #0a74da; /* Azul Escuro */
    border-radius: 5px;
}

.response pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Spinner CSS */
.spinner {
    display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.spinner-container{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgb(0, 0, 0);
    opacity: 0.5;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

/* Responsividade */
@media (max-width: 768px) {
    .example-buttons button {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
}
